*{
            font-weight: 300;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        body{
            margin: 0; padding: 0;
        }
        .container{
            position: relative;
        }
        .username-page{
            position: absolute;
            background: #ddd;
            width: 100vw;
            height: 100vh;
            z-index: 2;
        }
        .username-page h2,h5{
            text-align: center;
            margin: 5px 0;
        }
        .username-input{
            width: 70%;
            text-align: center;
            margin: 30vh auto 0;
            height: 80px;
            background: #aaa;
            padding-top: 20px;
            border-radius: 5px;
            color: #ddd;
            align-items: center;
            justify-items: center;
        }
        .label-input{
            width: fit-content;
            text-align: left;
        }
        .username-input label{
            font-size: 14px;
            color: #222;
        }
        .username-input input{
            padding: 5px;
            border-radius: 5px;
            border: none;
            outline: none;
            background: rgba(0,0,0,0.5);
            color: #ddd;
        }
        .username-input button{
            cursor: pointer;
            padding: 5px 10px;
            border-radius: 5px;
            outline: none;
            border: none;
            background: rgba(0,0,0,0.8);
            color: #ddd;

        }
        .username-input p{
            font-size: 11px;
            color: #222;
        }
        .loader{
            width: 70px; height: 70px;
            background: rgba(0,0,0,0.2);
            margin:40vh auto 0;
            position: relative;
            display: none;
        }
        .loader::before{
            position: absolute;
            content: '';
            width: 30px; height: 30px;
            background:transparent;
            top: 18px; left: 18px;
            border-radius: 50%;
            border: 2px solid #444;
            border-bottom-color: transparent;
            animation: roll linear infinite 2s;
        }
        @keyframes roll {
            to{
                transform: rotate(360deg);
            }
        }
        .chat-page{
            width: 95%;
            margin:  auto;
            height: 100vh;
            overflow: hidden;
        }
        .message-area{
            margin: 20px auto;
            width: 90%; height: 80%;
            background: rgba(225,225,225,0.7);
            padding: 10px 0;
            border-radius: 5px;
            position: relative;
        }
        .message-area .interaction{
            text-align: center;
            font-size: 12px;
            color: #222;
        }
        .label{
            margin-top: 5px;
            text-align: center;
            font-size: 9px;
            color: #444;
        }
        .message-area .menu{
            width: 2rem; height: 2rem;
            position: absolute;
            cursor: pointer;
            top: 25px;
            left: calc(100% - 3rem);
        }
        .message-area .menu span{
            position: absolute;
            width: 10%; height: 10%;
            background: black;
            left: 45%; top: 20%;
            border-radius: 5px;
        }
        .message-area .menu span:nth-child(2){
            top: 40%;
        }
        .message-area .menu span:nth-child(3){
            top: 60%;
        }
        .ip-change{
            position: absolute;
            font-size: 12px;
            width: 30%; height: 70px;
            background: #999;
            text-align: center;
            left: calc(100% - 35%);
            border-radius: 4px;
            padding: 5px 0;
            display: none;
        }
        .ip-change.active{
            display: block;
        }
        .ip-change input{
            width: 80%;
            font-size: 11px;
            padding: 3px;
            border-radius: 4px;
            border: 1px solid;
        }
        .ip-change button{
            font-size: 12px;
            cursor: pointer;
            border-radius: 4px;
            border: 1px solid;
        }
        .message-area .messages{
            height: 90%;
            overflow-y: auto;
            overflow-x:hidden ;
            margin: auto;
        }
        .messages div{
            background: rgba(225,225,225,0.9);
            width: fit-content;
            padding: 5px 20px;
            margin-top: 10px;
            margin-bottom: 10px;
            max-width: 60%;
            
        }
        .messages div .sender{
            font-size: 10px;
        }
        .messages div pre{
            text-wrap: wrap;
        }
        .messages .time-date{
            font-size: 8px;
            color: #555;
            width: fit-content;
            margin-left: auto;
        }
        .messages .err{
            text-align: center;
            font-size: 11px;
            font-weight: 100;
            margin-bottom: auto;
        }
        .result{
            text-align: center;
            font-size: 8px;
        }
        .input-area{
            width: 90%;
            margin: auto;
            display: flex;
            height: 10%;
            align-items: center;
            justify-content: space-between;
            position: relative;
        }
        .input-area .go-down{
            position: absolute;
            width: 30px; height: 30px;
            background: rgba(0,0,0,0.1);
            text-align: center;
            color: #222;
            align-items: center;
            justify-content: center;
            display: flex;
            top: -90%;
            left: 90%;
            border-radius: 50%;
            transform: rotate(90deg);
            cursor: pointer;
            animation: bounce linear infinite 1s;
        }
        @keyframes bounce {
            from{
                top: -100%;
            }
            to{
                top: -90%;
            }
        }
        .input-area textarea{
            width: 90%;
            border-radius: 5px;
            padding: 5px;
        }
        .input-area .send{
            font-size: 50px;
            color:green;
            cursor: pointer;
        }
        
